/*=========== общие стили ============*/
img {
  max-width: 100%;
  height: auto;
}
button {
  border: none;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
@font-face {
  font-family: FontAwesome;
  /* Имя шрифта */
  src: url(fonts/fontawesome-webfont.woff);
  /* Путь к файлу со шрифтом */
}
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #F7E6C0;
}
header {
  padding: 30px 30px;
  background-color: #000;
  background: url('../img/reception.jpg') no-repeat top center, url('../img/123.jpg');
}
.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}
.wrapper::after {
  content: "";
  display: block;
}
.search-title {
  color: #f2f2f2;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.search-buttons-container::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.select-city {
  min-width: 200px;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}
.search-icon {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  vertical-align: middle;
  white-space: normal;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}
.search-icon:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.search-icon:hover .cls-1 {
  fill: #000;
}
.loopa-logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  white-space: normal;
  color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.search-icon:active {
  color: #ffd700;
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}
.search-filter {
  list-style: none;
  font-size: 16px;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.filter-title {
  display: inline-block;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.search-results {
  padding: 20px 30px;
}
.hotel-item {
  margin-bottom: 20px;
}
.hotel-item .hotel-item-inner {
  padding: 10px;
  text-align: center;
  background-size: 100% 100%;
  border: solid 2px #f2f2f2;
}
.hotel-item:nth-child(4n) {
  margin-right: 0px;
}
.hotel-item-top-container {
  display: block;
  position: relative;
  margin-bottom: 140px;
}
.hotel-item-top-container::after {
  content: "";
  display: table;
  clear: both;
}
.hotel-item-top-container .hotel-name {
  display: block;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  margin: 0;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 22px;
}
.hotel-item-top-container .hotel-rating {
  float: right;
  padding: 8px;
  font-size: 24px;
  font-weight: bold;
  border: solid black 2px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#258dc8), to(#258dc8));
  background: linear-gradient(to bottom, #258dc8 0%, #258dc8 100%);
}
div.hotel-price {
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}
.bookHotel-button {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: lightgreen;
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.8));
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer {
  display: block;
  width: 100%;
  background: #f2f2f2 -webkit-gradient(linear, left top, left bottom, from(#d6b774), color-stop(40%, #c9c190), to(#d6b774));
  background: #f2f2f2 linear-gradient(to bottom, #d6b774 0%, #c9c190 40%, #d6b774 100%);
  text-align: center;
}
footer,
.wrapper::after {
  height: 100px;
}
.footer-text {
  line-height: 100px;
  vertical-align: middle;
}
div .low-rating {
  color: #ff0000;
}
div .medium-rating {
  color: #FF9900;
}
div .high-rating {
  color: #50c878;
}
